@()
<div class="jumbotron" id="mainJumbo">
    <div class="containerindex" id="mainIndex" style="padding: 32px 0px; background-image: url(@routes.Assets.versioned("images/minecraft.png"))">
        <div class="row">
            <div class="col-sm-12">
				<h2>Minceraft, the game where you throw boats in a blender and then... wait, that's not right.</h2>
				<h2>I meant Minecraft! The game where you mine and craft and mine and craft and mine and craft...</h2>
				<h3>Ok enough with the silliness. Minecraft is awesome, and you should definatly check it out over at <a href="http://minecraft.net">Minecraft.net</a></h3>
            </div>
        </div>
    </div>
</div>