@()
<div class="jumbotron" id="mainJumbo">
    <div class="containerindex" id="mainIndex" style="padding: 32px 0px; background-image: url(@routes.Assets.versioned("images/homepage.png"))">
        <div class="row">
            <div class="col-sm-12">
                <h1>Heyo!</h1>
                <h1>Minecraftians, Youtubers</h1>
                <h1>Hippies and Hobos!</h1>
                <h2>Welcome to the official Ezreb Clan website!</h2>
                <br>
                <br>
                <br>
                <br>
                <p>What is the Ezreb Clan?</p>
                <p>The Ezreb Clan is my non-existant fanbase. You guys are all awesome!</p>
                <script>
                	function clearLS() {
                		window.localStorage.setItem("tutorial", "go");
						document.getElementById("tutorial-popup").style.display = "initial";
                	}
                </script>
                <p>Click <a href="javascript:void(0);" onclick="clearLS();">here</a> to learn more about the website, or just explore!</p>
            </div>
        </div>
    </div>
</div>