@()
<div class="jumbotron" id="mainJumbo">
    <div class="containerindex" id="mainIndex" style="padding: 32px 0px; background-image: url(@routes.Assets.versioned("images/homepage.png"))">
        <div class="row">
            <div class="col-sm-12">
                <h1>Heyo!</h1>
                <h1>Minecraftians, Youtubers</h1>
                <h1>Hippies and Hobos!</h1>
                <h2>Welcome to the official Ezreb Clan website!</h2>
                <br>
                <br>
                <br>
                <br>
                <p>What is the Ezreb Clan?</p>
                <p>The Ezreb Clan is my non-existant fanbase. You guys are all awesome!</p>
                <p>Click <a>here</a> to learn more about the website. Otherwise, check out the different tabs along the top!</p>
            </div>
        </div>
    </div>
</div>