@()
<div class="SocialHandles">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>Twitter</h2>
            <p>Yup, I am on twitter. You can find me at <a href="https://twitter.com/MrabEzreb" target="_blank">@@MrabEzreb.</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Instagram</h2>
            <p>Ya, I am on Instagram, but I barely ever post there. Here's the link anyways <a href="http://instagram.com/mrabezreb/" target="_blank">MrabEzreb</a></p>
        </div>
        <div class="col-sm-2"></div> 
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>Facebook</h2>
            <p>FACEBUUK 4 LYFE BAYBEE <a href="https://www.facebook.com/MrabEzrebYT">MrabEzreb</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Youtube</h2>
            <p>DUH I am on youtube! <a href="https://www.youtube.com/MrabEzreb" target="_blank">MrabEzreb</a></p>
        </div>
        <div class="col-sm-2"></div> 
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>Twitch.tv</h2>
            <p>Sometimes in the mood for streaming, other times I stream for 2 seconds and then stop. <a href="http://twitch.tv/MrabEzreb/profile">MrabEzreb</a></p>
        </div>
        <div class="col-sm-4">
            <h2></h2>
            <p></p>
        </div>
        <div class="col-sm-2"></div> 
    </div>
</div>